rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /machines/{machineId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.uid == "ZuMoD4BryHVakuieCehpKcfsd353";
    }

    match /spare_parts/{partId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.uid == "ZuMoD4BryHVakuieCehpKcfsd353";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
